apiVersion: apps/v1
kind: Deployment
metadata:
  name: udagram-api-users
  labels:
    service: udagram-api-users
spec:
  replicas: 1
  selector:
    matchLabels:
      service: udagram-api-users
  template:
    metadata:
      labels:
        service: udagram-api-users
    spec:
      containers:
        - name: udagram-api-users
          image: oussamabouchikhi/udagram-api-users:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: '64Mi'
              cpu: '250m'
            limits:
              memory: '1024Mi'
              cpu: '500m'
          env:
            - name: URL
              valueFrom:
                configMapKeyRef:
                  name: env-config
                  key: URL
            - name: JWT_SECRET
              valueFrom:
                configMapKeyRef:
                  name: env-config
                  key: JWT_SECRET
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: env-config
                  key: POSTGRES_DB
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: env-config
                  key: POSTGRES_HOST
            - name: POSTGRES_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: env-config
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: env-config
                  key: POSTGRES_USERNAME
      restartPolicy: Always
